<h1>Ramen!</h1>

<h2>What do you want in it?</h2>

<ul>
  {{!-- where is ingredients defined --}}
  {{#each ramen_ingredients}}
  <li>
    <p><span class="label">ID:</span> {{this.ingredient_id}}</p>
    <p><span class="label">Ingredient:</span> {{this.ingredient_name}}</p>
    {{!-- <p><span class="label">Author:</span> {{this.author}}</p> --}}

    {{!-- <button data-id="{{this.id}}" class="delquote">Delete</button> --}}

    <a href="/{{this.id}}">use this ingredient</a>
  </li>
  {{/each}}
</ul>

{{!-- <h2>ingredient that are sleepy!</h2> --}}

{{!-- <ul>
  {{#each ingredient}}
    {{#if sleepy}}
      {{> ingredient/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul> --}}

<h2>What are you adding</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ingredient">Ingredient:</label>
    <input type="text" id="ingredient" name="ingredient_name">
  </div>

  {{!-- <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

  <button type="submit">Add Ingredient</button>
</form>